@model Scrum3.Model.Luokkatilat

@{
    ViewBag.Title = "Delete";
}

<h2>Poista opetustila</h2>

<h3>Haluatko varmasti poistaa opetustilan?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Luokka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luokka)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista opetustila" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin", "Index")
        </div>
    }
</div>
