@model Scrum3.Model.Osallistumiset

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Osallistumiset</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OppilasID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opiskelijat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KurssiToteutukset.Kurssit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KurssiToteutukset.Luokka)
            </th>
            <th></th>
        </tr>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tulosta tiedot" class="btn btn-default" />
        </div>
    </div>
    

</div>
